<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable name="LOG_APPENDER" value="${APPLICATION_LOG_APPENDER:-STDOUT}"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] traceId=%X{traceId} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>

            <fieldNames>
                <timestamp>timestamp</timestamp>
                <logger>logger</logger>
                <thread>thread</thread>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <labels>app=ebbinghaus-memory-telegram-app</labels>
        <structuredMetadata>off</structuredMetadata>

        <message class="com.github.loki4j.logback.JsonLayout">
            <timestamp>
                <fieldName>timestamp</fieldName>
            </timestamp>
            <loggerName>
                <fieldName>logger</fieldName>
            </loggerName>
            <threadName>
                <fieldName>thread</fieldName>
            </threadName>
            <logLevel>
                <fieldName>level</fieldName>
            </logLevel>
            <mdc>
                <noPrefix>true</noPrefix>
                <include>traceId</include>
            </mdc>
        </message>

        <http>
            <url>${LOKI_URL}</url>
            <requestTimeoutMs>15000</requestTimeoutMs>
        </http>

        <batch>
            <maxBytes>65536</maxBytes>
        </batch>
    </appender>


    <root level="${APPLICATION_LOG_LEVEL:-info}">
        <appender-ref ref="${LOG_APPENDER}"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
